body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.video-container {
    width: 640px;
    height: 480px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container {
    width: 640px;
    height: 200px;
    background: #f0f0f0; /* grey */
    overflow-y: auto;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    color: rgb(35, 35, 35);
    font-size: 16px;
}

.message {
    margin-bottom: 10px; /* Add vertical space between messages */
    white-space: pre-line; /* Preserve line breaks and spaces */
}

.control-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically centered */
    width: 640px;
    margin-top: 20px;
}

.interval-container {
    display: flex;
    align-items: center;
}

#interval-input {
    padding-left: 12px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    height: 42px; /* Same height as the buttons */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px; /* Ensure the buttons have the same height */
}

button:hover {
    background-color: #333;
}

button span {
    margin-left: 10px;
}
